@import url(styles/header.css);
@import url(styles/pesquisa.css);
@import url(styles/carrossel.css);
@import url(styles/anuncio.css);
@import url(styles/rodape.css);

:root {
  --cor-de-fundo: #f3ebde;
  --cor-titulo: #d1bb9e;
  --cor-titulo-fonte: #003c43;
  --roxo: #5e00b6;
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #a7a7a7;
  --roxo-rodape: #3B2849;
  --fonte-principal: "Inter";
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 18px;
}
