.anuncio {
   padding-top: 2em;
}

.anuncio-container {
   text-align: center;
   display: flex;
   flex-direction: column;
   padding: 0em 2em 2em 2em;
}

.anuncio-container img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

.anuncio-container-textos {
   font-family: var(--fonte-principal);
   display: flex;
   gap: 1em;
   text-align: justify;
}

.anuncio-texto1 {
   font-size: 22px;
   font-weight: 700;
   line-height: 1.5;
}

.anuncio-texto2 {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
}

.anuncio-texto3 {
   color: var(--roxo);
   font-size: 16px;
   text-transform: uppercase;
}

.anuncio-link {
   text-decoration: none;
}

@media screen and (min-width: 768px) {
   .anuncio {
      display: flex;
      flex-direction: column;
      padding: 4em 10em 2em 10em;
   }

   .anuncio-container {
      padding: 0;
   }

   .anuncio-container img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
   }

   .anuncio-container-textos {
      width: 100%;
      padding-top: 2em;
   }

   .anuncio-texto1 {
      font-size: 32px;
   }

   .anuncio-texto2,
   .anuncio-texto3 {
      font-size: 24px;
   }
}

@media screen and (min-width: 1366px) {
   .anuncio {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4em 5vw 2em 5vw;
   }

   .anuncio-container {
      padding: 0em 2em;
   }

   .anuncio-container img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 35vw;
   }
}
