.carrossel-titulo {
   text-align: center;
   font-family: var(--fonte-principal);
   font-weight: 700;
   text-transform: uppercase;
   background-color: var(--cor-titulo);
   color: var(--cor-titulo-fonte);
   padding: 1em;
}

.carrossel-container-categorias {
   background-color: var(--cor-de-fundo2);
}

.swiper {
   padding: 2em 1em;
}

.swiper-slide img {
   width: 100%;
}

.swiper-slide-texto {
   font-family: var(--fonte-principal);
   font-size: 14px;
   text-transform: uppercase;
   text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
   display: none;
}

.swiper-produto {
   background-color: var(--branco);
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border-radius: 10px;
   padding: 0.5em;
}

.produto-imagem {
   border-radius: 10px;
}

.produto-texto {
   padding: 1em;
   font-size: 12px;
}

.botao {
   background-color: var(--roxo);
   color: var(--branco);
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 12px;
   padding: 0.5em 0.5em;
   border-radius: 5px;
}

.botao-container {
   padding: 1em 0 0.2em 0;
   text-align: center;
}

@media screen and (min-width: 768px) {
   .carrossel-titulo {
      font-size: 26px;
   }

   .swiper {
      padding: 3em 2em;
   }

   .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .swiper-slide img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
   }

   .swiper-slide-texto {
      font-size: 20px;
   }

   .swiper-produto {
      padding: 2em 0em;
   }

   .produto-texto {
      font-size: 18px;
      padding-bottom: 0.5em;
      padding-left: 2em;
   }

   .botao-container {
      padding-top: 2em;
   }

   .botao {
      font-size: 20px;
      padding: 0.5em 3em;
      transition: 0.1s;
   }
}

@media screen and (min-width: 1366px) {
   .swiper-slide img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      transition: 0.3s;
   }

   .swiper-slide img:hover {
      width: 65%;
      transition: 0.3s;
   }

   .swiper-slide-texto {
      font-size: 22px;
   }

   .produto-texto {
      font-size: 20px;
   }

   .botao:hover {
      background-color: var(--roxo-hover);
      transition: 0.1s;
   }
}
