.conteudo-pesquisa {
   padding: 1.5em 2em;
   background-color: var(--cor-de-fundo);
}

.conteudo-pesquisa-barra {
   width: 100%;
   border: 2px solid var(--preto);
   border-radius: 10px;
   padding: 0.4em;
   font-family: var(--fonte-principal);
   font-size: 16px;
}

.conteudo-pesquisa-barra::placeholder {
   font-family: var(--fonte-principal);
}
